= content_for :page_title, "About - ActiStaff"

= content_for :page_specific_styles do
  / page specific styles go here
  = stylesheet_link_tag "static_pages/flexslider"
  
= content_for :page_specific_scripts do
  /page specific javascript goes here
  = javascript_include_tag "static_pages/jquery.flexslider", defer: "defer"

  :javascript
    $(window).load(function() {
      $('[data-zlname = reverse-effect]').mateHover({
        position: 'y-reverse',
        overlayStyle: 'rolling',
        overlayBg: '#fff',
        overlayOpacity: 0.7,
        overlayEasing: 'easeOutCirc',
        rollingPosition: 'top',
        popupEasing: 'easeOutBack',
        popup2Easing: 'easeOutBack'
      });
    });

    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider) {
          $('body').removeClass('loading');
        }
      });
    });

/ breadcrumbs start
.breadcrumbs
  .container
    .row
      .col-lg-4.col-sm-4
        %h1 About us
      .col-lg-8.col-sm-8
        %ol.breadcrumb.pull-right
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Pages
          %li.active About
/ breadcrumbs end
/ container start
.container
  .row
    .col-lg-5
      .span5.about-carousel
        #myCarousel.carousel.slide
          / Carousel items
          .carousel-inner
            .active.item
              = image_tag "static_pages/about_1.jpg"
              .carousel-caption
                %p Donec luctus ullamcorper nulla
            .item
              = image_tag "static_pages/about_2.jpg"
              .carousel-caption
                %p Blanditiis praesentium voluptatum
            .item
              = image_tag "static_pages/about_1.jpg"
              .carousel-caption
                %p Honest and amazing things that bring positive results
          / Carousel nav
          %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
            %i.fa.fa-angle-left
          %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
            %i.fa.fa-angle-right
    .col-lg-7.about
      %h3 Welcome to FlatLab
      %p
        Welcome To Avada
        Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.
      %p
        Aenean nibh ante, lacinia non tincidunt nec, lobortis ut tellus. Sed in porta diam. Suspendisse potenti. Donec luctus ullamcorper nulla. Duis nec velit odio.
  .row
    .hiring
      .col-lg-6.col-sm-6
        .icon-wrap.ico-bg.round
          %i.fa.fa-desktop
        .content
          %h3.title iOS / Mac OS Developer
          %p Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
      .col-lg-6.col-sm-6
        .icon-wrap.ico-bg.round
          %i.fa.fa-user
        .content
          %h3.title Frontend Developer
          %p Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
.gray-box
  .container
    .row
      .col-lg-5
        / testimonial start
        .about-testimonial.boxed-style.about-flexslider
          %section.slider
            .flexslider
              %ul.slides.about-flex-slides
                %li
                  .about-testimonial-image
                    = image_tag "static_pages/testimonial-img-1.jpg"
                  %a.about-testimonial-author{:href => "#"} Ericson Reagan
                  %span.about-testimonial-company ABC Realestate LLC
                  .about-testimonial-content
                    %p.about-testimonial-quote
                      Pellentesque et pulvinar enim. Quisque at tempor ligula. Maecenas augue ante, euismod vitae egestas sit amet, accumsan eu nulla. Nullam tempor lectus a ligula lobortis pretium. Donec ut purus sed tortor malesuada venenatis eget eget lorem.
                %li
                  .about-testimonial-image
                    = image_tag "static_pages/avatar2.jpg"
                  %a.about-testimonial-author{:href => "#"} Jonathan Smith
                  %span.about-testimonial-company DEF LLC
                  .about-testimonial-content
                    %p.about-testimonial-quote
                      Pellentesque et pulvinar enim. Quisque at tempor ligula. Maecenas augue ante, euismod vitae egestas sit amet, accumsan eu nulla. Nullam tempor lectus a ligula lobortis pretium. Donec ut purus sed tortor malesuada venenatis eget eget lorem.
        / testimonial end
      .col-lg-7
        %h3.skills Our Crazy Skills
        .about-skill-meter
          .progress.progress-xs
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
              %span.sr-only Web Design : 60% Complete
        .about-skill-meter
          .progress.progress-xs
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 90%;"}
              %span.sr-only Html/CSS : 90% Complete
        .about-skill-meter
          .progress.progress-xs
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 70%;"}
              %span.sr-only Wordpress : 70% Complete
        .about-skill-meter
          .progress.progress-xs
            .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 55%;"}
              %span.sr-only Graphic Design : 55% Complete
.container
  .row
    .text-center.feature-head
      %h1 Meet Our Team
      %p We work with forward thinking clients to create beautiful, honest and amazing things that bring positive results.
    .col-lg-4
      .person.text-center
        = image_tag "static_pages/team/team_img1.jpg"
      .person-info.text-center
        %h4
          %a{:href => "javascript:;"} Ericson Reagan
        %p.text-muted Managing Director
        .team-social-link
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-pinterest
          %a{:href => "#"}
            %i.fa.fa-linkedin
          %a{:href => "#"}
            %i.fa.fa-google-plus
        %p Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
    .col-lg-4
      .person.text-center
        = image_tag "static_pages/team/team_img2.jpg"
      .person-info.text-center
        %h4
          %a{:href => "javascript:;"} Alicja Colon
        %p.text-muted Web Designer
        .team-social-link
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-pinterest
          %a{:href => "#"}
            %i.fa.fa-linkedin
          %a{:href => "#"}
            %i.fa.fa-google-plus
        %p Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
    .col-lg-4
      .person.text-center
        = image_tag "static_pages/team/team_img3.jpg"
      .person-info.text-center
        %h4
          %a{:href => "javascript:;"} Jonathan Smith
        %p.text-muted Web Developer
        .team-social-link
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-pinterest
          %a{:href => "#"}
            %i.fa.fa-linkedin
          %a{:href => "#"}
            %i.fa.fa-google-plus
        %p Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
/ container end
