= content_for :page_title, "Blog Detail - ActiStaff"

= content_for :page_specific_styles do
  / page specific styles go here
  = stylesheet_link_tag "static_pages/flexslider"
  
= content_for :page_specific_scripts do
  /page specific javascript goes here
  = javascript_include_tag "static_pages/jquery.flexslider", defer: "defer"

/ breadcrumbs start
.breadcrumbs
  .container
    .row
      .col-lg-4.col-sm-4
        %h1 Blog Details
      .col-lg-8.col-sm-8
        %ol.breadcrumb.pull-right
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Pages
          %li.active Blog Details
/ breadcrumbs end
/ container start
.container
  .row
    / blog start
    .col-lg-9
      .blog-item
        .row
          .col-lg-2.col-sm-2
            .date-wrap
              %span.date 10
              %span.month September
            .comnt-wrap
              %span.comnt-ico
                %i.fa.fa-comments
              %span.value 15
          .col-lg-10.col-sm-10
            .blog-img
              = image_tag "static_pages/blog/img1.jpg"
        .row
          .col-lg-2.col-sm-2.text-right
            .author
              By
              %a{:href => "#"} Admin
            %ul.list-unstyled
              %li
                %a{:href => "javascript:;"}
                  %em travel
              %li
                %a{:href => "javascript:;"}
                  %em tour
              %li
                %a{:href => "javascript:;"}
                  %em recreation
              %li
                %a{:href => "javascript:;"}
                  %em tourism
            .shate-view
              %ul.list-unstyled
                %li
                  %a{:href => "javascript:;"} 209 View
                %li
                  %a{:href => "javascript:;"} 23 Share
          .col-lg-10.col-sm-10
            %h1
              %a{:href => "#{page_path('blog_detail')}"} Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
            %p Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
            %blockquote
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.
              %small
                Someone famous
                %cite{:title => "Source Title"} Source Title
            %p Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ipsum. Aliquam ac magna metus.
            .media
              %h3 Comments
              %hr/
              %a.pull-left{:href => "javascript:;"}
                = image_tag "static_pages/avatar1.jpg", class: "media-object"
              .media-body
                %h4.media-heading
                  Anjelina Joli
                  %span |
                  %span 12 July 2013, 10:20
                %p
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                %a{:href => "javascript:;"} Reply
                %hr/
                / Nested media object
                .media
                  %a.pull-left{:href => "javascript:;"}
                    = image_tag "static_pages/avatar2.jpg", class: "media-object"
                  .media-body
                    %h4.media-heading
                      Tom Cruse
                      %span |
                      %span 12 July 2013, 10:30
                    %p
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    %a{:href => "javascript:;"} Reply
                / end media
                %hr/
                .media
                  %a.pull-left{:href => "javascript:;"}
                    = image_tag "static_pages/avatar1.jpg", class: "media-object"
                  .media-body
                    %h4.media-heading
                      Nicol Kidman
                      %span |
                      %span 12 July 2013, 10:40
                    %p
                      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    %a{:href => "javascript:;"} Reply
                %hr/
                / end media
            .media
              %a.pull-left{:href => "javascript:;"}
                = image_tag "static_pages/avatar2.jpg", class: "media-object"
              .media-body
                %h4.media-heading
                  Tom Cruse
                  %span |
                  %span 12 July 2013, 11:10
                %p
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                %a{:href => "javascript:;"} Reply
            .post-comment
              %h3.skills Post Comments
              %form.form-horizontal{:role => "form"}
                .form-group
                  .col-lg-4
                    %input.col-lg-12.form-control{:placeholder => "Name", :type => "text"}/
                  .col-lg-4
                    %input.col-lg-12.form-control{:placeholder => "Email", :type => "text"}/
                  .col-lg-4
                    %input.col-lg-12.form-control{:placeholder => "2*five=? *", :type => "text"}/
                .form-group
                  .col-lg-12
                    %textarea.form-control{:placeholder => "Message", :rows => "8"}
                %p
                  %button.btn.btn-danger.pull-right{:type => "submit"} Post Comment
    .col-lg-3
      .blog-side-item
        .search-row
          %input.form-control{:placeholder => "Search here", :type => "text"}/
        .category
          %h3 Categories
          %ul.list-unstyled
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                Animals
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                Landscape
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                Portait
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                Wild Life
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                Video
        .blog-post
          %h3 Latest Blog Post
          .media
            %a.pull-left{:href => "javascript:;"}
              = image_tag "static_pages/blog/blog-thumb-1.jpg"
            .media-body
              %h5.media-heading
                %a{:href => "javascript:;"} 02 May 2013
              %p
                Donec id elit non mi porta gravida at eget metus amet int
          .media
            %a.pull-left{:href => "javascript:;"}
              = image_tag "static_pages/blog/blog-thumb-2.jpg"
            .media-body
              %h5.media-heading
                %a{:href => "javascript:;"} 02 May 2013
              %p
                Donec id elit non mi porta gravida at eget metus amet int
          .media
            %a.pull-left{:href => "javascript:;"}
              = image_tag "static_pages/blog/blog-thumb-3.jpg"
            .media-body
              %h5.media-heading
                %a{:href => "javascript:;"} 02 May 2013
              %p
                Donec id elit non mi porta gravida at eget metus amet int
        .tags
          %h3 Tags
          %ul.list-unstyled.tag
            %li
              %a{:href => "#"} flat
            %li
              %a{:href => "#"} clean
            %li
              %a{:href => "#"} admin
            %li
              %a{:href => "#"} UI
            %li
              %a{:href => "#"} responsive
            %li
              %a{:href => "#"} Web Design
            %li
              %a{:href => "#"} UIX
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} flat Admin
            %li
              %a{:href => "#"} Dashboard
        .archive
          %h3 Archive
          %ul.list-unstyled
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                May 2013
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                April 2013
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                March 2013
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                February 2013
            %li
              %a{:href => "javascript:;"}
                %i.fa.fa-angle-right
                January 2013
    / blog end
/ container end
