<%= content_for :page_title, "Home - ActiStaff" %>

<%= content_for :page_specific_styles do %>
  <%= stylesheet_link_tag "fancybox/source/jquery.fancybox", "superfish", "superfish-vertical" %>

<% end %>
<%= content_for :page_specific_scripts do %>
  <%= javascript_include_tag "fancybox/source/jquery.fancybox.pack", "bxslider/jquery.bxslider",
                             "superfish", "jquery.isotope" %>
  <%= javascript_include_tag "static_pages/jquery.flexslider", defer: "defer" %>

  <script>


      $(window).load(function() {
          $('[data-zlname = reverse-effect]').mateHover({
              position: 'y-reverse',
              overlayStyle: 'rolling',
              overlayBg: '#fff',
              overlayOpacity: 0.7,
              overlayEasing: 'easeOutCirc',
              rollingPosition: 'top',
              popupEasing: 'easeOutBack',
              popup2Easing: 'easeOutBack'
          });
      });

      $(window).load(function() {
          $('.flexslider').flexslider({
              animation: "slide",
              start: function(slider) {
                  $('body').removeClass('loading');
              }
          });
      });

      //    fancybox
      jQuery(".fancybox").fancybox();

      $(function() {
          var $container = $('#gallery');
          $container.isotope({
              itemSelector: '.item',
              animationOptions: {
                  duration: 750,
                  easing: 'linear',
                  queue: false
              }
          });

          // filter items when filter link is clicked
          $('#filters a').click(function() {
              var selector = $(this).attr('data-filter');
              $container.isotope({filter: selector});
              return false;
          });
      });



  </script>

<% end %>

     <!--breadcrumbs start-->
     <div class="breadcrumbs">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-sm-4">
                     <h1>Portfolio</h1>
                 </div>
                 <div class="col-lg-8 col-sm-8">
                     <ol class="breadcrumb pull-right">
                         <li><a href="#">Home</a></li>
                         <li><a href="#">Pages</a></li>
                         <li class="active">Portfolio</li>
                     </ol>
                 </div>
             </div>
         </div>
     </div>
     <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
        <!--portfolio start-->
        <div class="gallery-container">
            <ul id="filters" class="list-unstyled">
                <li><a href="#" data-filter="*"> All</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
                <li><a href="#" data-filter=".frontend, .dashboard">Frontend</a></li>
                <li><a href="#" data-filter=".dashboard">Dashboard</a></li>
                <li><a href="#" data-filter=".flat:not(.development)">Flat</a></li>
            </ul>
            <div id="gallery" class="col-4">

                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img1.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element frontend item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img2.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img2.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img3.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img3.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element development flat item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img4.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img4.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element design flat item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img5.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img5.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element dashboard frontend inner-photography item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img6.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img6.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat dashboard design item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img7.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img7.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img1.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img1.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img1.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element frontend item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img2.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img2.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img3.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img3.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element development flat item view view-tenth" data-zlname="reverse-effect">
                    <%= image_tag "static_pages/works/img4.jpg" %>
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="img/works/img4.jpg">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--portfolio end-->
    </div>
    <!--container end-->


