= content_for :page_title, "Portfolio - ActiStaff"

= content_for :page_specific_styles do
  / page specific styles go here
  = stylesheet_link_tag "fancybox/source/jquery.fancybox", "static_pages/superfish", 
                        "static_pages/superfish-vertical"

= content_for :page_specific_scripts do
  / page specific javascript goes here
  
  = javascript_include_tag "common/jquery-migrate-1.2.1.min", "bxslider/jquery.bxslider", 
                           "fancybox/source/jquery.fancybox.pack",
                           "static_pages/superfish", "static_pages/jquery.isotope"
  = javascript_include_tag "static_pages/jquery.flexslider", defer: "defer"

  :javascript
    $(window).load(function() {
        $('[data-zlname = reverse-effect]').mateHover({
            position: 'y-reverse',
            overlayStyle: 'rolling',
            overlayBg: '#fff',
            overlayOpacity: 0.7,
            overlayEasing: 'easeOutCirc',
            rollingPosition: 'top',
            popupEasing: 'easeOutBack',
            popup2Easing: 'easeOutBack'
        });
    });

    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider) {
                $('body').removeClass('loading');
            }
        });
    });

    //    fancybox
    jQuery(".fancybox").fancybox();

    $(function() {
        var $container = $('#gallery');
        $container.isotope({
            itemSelector: '.item',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        // filter items when filter link is clicked
        $('#filters a').click(function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector});
            return false;
        });
    });
/ breadcrumbs start
.breadcrumbs
  .container
    .row
      .col-lg-4.col-sm-4
        %h1 Portfolio
      .col-lg-8.col-sm-8
        %ol.breadcrumb.pull-right
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Pages
          %li.active Portfolio
/ breadcrumbs end
/ container start
.container
  / portfolio start
  .gallery-container
    %ul#filters.list-unstyled
      %li
        %a{"data-filter" => "*", :href => "#"} All
      %li
        %a{"data-filter" => ".design", :href => "#"} Design
      %li
        %a{"data-filter" => ".development", :href => "#"} Development
      %li
        %a{"data-filter" => ".frontend, .dashboard", :href => "#"} Frontend
      %li
        %a{"data-filter" => ".dashboard", :href => "#"} Dashboard
      %li
        %a{"data-filter" => ".flat:not(.development)", :href => "#"} Flat
    #gallery.col-4
      .element.design.development.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img1.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img1.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.frontend.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img2.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img2.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.flat.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img3.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img3.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.development.flat.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img4.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img4.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.design.flat.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img5.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img5.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.dashboard.frontend.inner-photography.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img6.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img6.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.flat.dashboard.design.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img7.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img7.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.design.development.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img1.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img1.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.design.development.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img1.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img1.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.frontend.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img2.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img2.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.flat.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img3.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img3.jpg")}", :rel => "group"}
            %i.fa.fa-search
      .element.development.flat.item.view.view-tenth{"data-zlname" => "reverse-effect"}
        = image_tag "static_pages/works/img4.jpg"
        .mask
          %h2 Freshness
          %a{"data-zl-popup" => "link", :href => "javascript:;"}
            %i.fa.fa-link
          %a.fancybox{"data-zl-popup" => "link2", :href => "#{image_path("static_pages/works/img4.jpg")}", :rel => "group"}
            %i.fa.fa-search
  / portfolio end
/ container end
