/ header start
%header
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse",
                              "data-toggle" => "collapse", :type => "button"}
          %span.fa.fa-bars
        %a.logo{:href => "#{page_path("home")}"}
          Acti
          %span Staff
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          %li{ class: "#{active_menu?("home", params[:id])}" }
            = link_to "Home", page_path("home")
          %li{ class: "#{active_menu?("about", params[:id])}" }
            = link_to "About", page_path("about")
          %li{ class: "#{active_menu?("services", params[:id])}" }
            = link_to "Service", page_path("services")
          %li{ class: "dropdown #{active_menu?("typography.html", params[:id])} #{active_menu?("button.html", params[:id])}"}
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Feature
              %b.fa.fa-angle-down
            %ul.dropdown-menu
              %li{ class: "#{active_menu?("typography.html", params[:id])}" }
                %a{:href => "#{page_path("typography.html")}"} Typography
              %li{ class: "#{active_menu?("button.html", params[:id])}" }
                %a{:href => "#{page_path("button.html")}"} Buttons
          %li{ class: "#{active_menu?("portfolio", params[:id])}" }
            %a{:href => "#{page_path("portfolio")}"} Portfolio
          %li{ class: "#{active_menu?("price", params[:id])}" }
            %a{:href => "#{page_path("price")}"} Price
          %li{ class: "#{active_menu?("blog", params[:id])} #{active_menu?("blog_detail", params[:id])}" }
            %a{:href => "#{page_path("blog")}"} Blog
          %li{ class: "#{active_menu?("contact", params[:id])}" }
            %a{:href => "#{page_path("contact")}"} Contact
/ header end
