/ sidebar start
%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul#nav-accordion.sidebar-menu
      %li
        %a.active{:href => "#{ dashboard_path('dashboard_home') }"} 
          %i.fa.fa-dashboard
          %span Dashboard
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-laptop
          %span Layouts
        %ul.sub
          %li
            = link_to "Boxed Page", dashboard_path("boxed_page")
          %li
            = link_to "Horizontal Menu", dashboard_path("horizontal_menu")
          %li
            = link_to "Different Color Top bar", dashboard_path("header-color")
          %li
            = link_to "Mega Menu", dashboard_path("mega_menu")
          %li
            = link_to "Language Switch Bar", dashboard_path("language_switch_bar")
          %li
            = link_to "Email Template", dashboard_path("email_template"), target: "_blank"
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-book
          %span UI Elements
        %ul.sub
          %li
            = link_to "General", dashboard_path("general")
          %li
            = link_to "Buttons", dashboard_path("buttons")
          %li
            = link_to "Modal", dashboard_path("modal")
          %li
            = link_to "Toastr Notifications", dashboard_path("toastr")
          %li
            = link_to "Widget", dashboard_path("widget")
          %li
            = link_to "Slider", dashboard_path("slider")
          %li
            = link_to "Nestable", dashboard_path("nestable")
          %li
            = link_to "Tree View", dashboard_path("tree")
          %li
            = link_to "Font Awesom", dashboard_path("font_awesome")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-cogs
          %span Components
        %ul.sub
          %li
            = link_to "Grids", dashboard_path("grids")
          %li
            = link_to "Calendar", dashboard_path("calendar")
          %li
            = link_to "Gallery", dashboard_path("gallery")
          %li
            = link_to "Todo List", dashboard_path("todo_list")
          %li
            = link_to "Draggable Portlet", dashboard_path("draggable_portlet")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-tasks
          %span Form Stuff
        %ul.sub
          %li
            = link_to "Form Components", dashboard_path("form_component")
          %li
            = link_to "Advanced Components", dashboard_path("advanced_form_components")
          %li
            = link_to "Form Wizard", dashboard_path("form_wizard")
          %li
            = link_to "Form Validation", dashboard_path("form_validation")
          %li
            = link_to "Dropzone File Upload", dashboard_path("dropzone")
          %li
            = link_to "Inline Editor", dashboard_path("inline_editor")
          %li
            = link_to "Image Cropping", dashboard_path("image_cropping")
          %li
            = link_to "Multiple File Upload", dashboard_path("file_upload")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-th
          %span Data Tables
        %ul.sub
          %li
            = link_to "Basic Table", dashboard_path("basic_table")
          %li
            = link_to "Responsive Table", dashboard_path("responsive_table")
          %li
            = link_to "Dynamic Table", dashboard_path("dynamic_table")
          %li
            = link_to "Editable Table", dashboard_path("editable_table")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-envelope
          %span Mail
        %ul.sub
          %li
            = link_to "Inbox", dashboard_path("inbox")
          %li
            = link_to "Inbox Details", dashboard_path("inbox_details")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-bar-chart-o
          %span Charts
        %ul.sub
          %li
            = link_to "Morris", dashboard_path("morris")
          %li
            = link_to "Chartjs", dashboard_path("chartjs")
          %li
            = link_to "Flot Charts", dashboard_path("flot_chart")
          %li
            = link_to "xChart", dashboard_path("xchart")
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-shopping-cart
          %span Shop
        %ul.sub
          %li
            %a{:href => "#{ dashboard_path('product_list') }"} List View
          %li
            %a{:href => "#{ dashboard_path('product_details') }"} Details View
      %li
        %a{:href => "#{ dashboard_path('google_maps') }"}
          %i.fa.fa-map-marker
          %span Google Maps
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-comments-o
          %span Chat Room
        %ul.sub
          %li
            %a{:href => "#{ dashboard_path('lobby') }"} Lobby
          %li
            %a{:href => "#{ dashboard_path('chat_room') }"} Chat Room
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-glass
          %span Extra
        %ul.sub
          %li
            %a{:href => "#{ dashboard_path('blank') }"} Blank Page
          %li
            %a{:href => "#{ dashboard_path('sidebar_closed') }"} Sidebar Closed
          %li
            %a{:href => "#{ dashboard_path('people_directory') }"} People Directory
          %li
            %a{:href => "#{ dashboard_path('coming_soon') }"} Coming Soon
          %li
            %a{:href => "#{ dashboard_path('lock_screen') }"} Lock Screen
          %li
            %a{:href => "#{ dashboard_path('profile') }"} Profile
          %li
            %a{:href => "#{ dashboard_path('invoice') }"} Invoice
          %li
            %a{:href => "#{ dashboard_path('project_list') }"} Project List
          %li
            %a{:href => "#{ dashboard_path('project_details') }"} Project Details
          %li
            %a{:href => "#{ dashboard_path('search_result') }"} Search Result
          %li
            %a{:href => "#{ dashboard_path('pricing_table') }"} Pricing Table
          %li
            %a{:href => "#{ dashboard_path('faq') }"} FAQ
          %li
            %a{:href => "#{ dashboard_path('fb_wall') }"} FB Wall
          %li
            %a{:href => "#{ dashboard_path('404') }"} 404 Error
          %li
            %a{:href => "#{ dashboard_path('500') }"} 500 Error
      %li
        %a{:href => "#{dashboard_path('login')}"}
          %i.fa.fa-user
          %span Login Page
      / multi level menu start
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-sitemap
          %span Multi level Menu
        %ul.sub
          %li
            %a{:href => "javascript:;"} Menu Item 1
          %li.sub-menu
            %a{:href => "#{dashboard_path('boxed_page')}"} Menu Item 2
            %ul.sub
              %li
                %a{:href => "javascript:;"} Menu Item 2.1
              %li.sub-menu
                %a{:href => "javascript:;"} Menu Item 3
                %ul.sub
                  %li
                    %a{:href => "javascript:;"} Menu Item 3.1
                  %li
                    %a{:href => "javascript:;"} Menu Item 3.2
      / multi level menu end
    / sidebar menu end
/ sidebar end
