!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "Ovation Experiential", :name => "author"}/
    %meta{:content => "FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina", :name => "keyword"}/
    = favicon_link_tag 'favicon.ico'
    %title= yield(:page_title)

    / Common Styles
    = stylesheet_link_tag    'application', 'dashboard', media: 'all',
                             'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'dashboard', 'data-turbolinks-track' => true
    = yield(:page_specific_scripts) if content_for?(:page_specific_scripts)
    = yield(:page_specific_styles) if content_for?(:page_specific_styles)

    / HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
      = javascript_include_tag "respond.min"

    = csrf_meta_tags

  - if params[:id] == 'boxed_page'
    = yield
  - elsif params[:id] == 'horizontal_menu'
    = yield
  - elsif params[:id] == 'mega_menu'
    = yield
  - else 
    %body
      %section#container
        = render "layouts/dashboard_top_header"
        = render "layouts/dashboard_sidebar_nav"
        / main content start
        %section#main-content
          = yield
        / main content end
        = render "layouts/dashboard_right_sidebar"
        = render "layouts/dashboard_footer"






